@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter';
}

@layer components{
  .btnPrimary{
    @apply font-semibold rounded-md py-3 px-6 border-purple-600 border-2   bg-purple-600 text-white hover:bg-purple-700 hover:border-purple-700;
  }
  .btnSecondary{
    @apply font-semibold rounded-md py-3 px-6 border-purple-200 border-2 text-purple-600 hover:border-purple-600 transition-all duration-300 ease-in-out
  }
  .inputStyle{
    @apply font-medium p-4 flex py-3 border-2 border-gray-300 rounded-lg outline-purple-500 hover:border-purple-600 duration-500 ease-out transition-all
  }
  .sidebarItem{
    @apply flex items-center gap-3 p-2 rounded-sm hover:bg-gray-100 opacity-70
  }
  .sidebarActive{
    @apply text-purple-600 font-semibold bg-purple-100 opacity-100 hover:bg-purple-100
  }
}

.colorPrimary{
  color: #7C3AED;
}
/* 
.hoverSide:hover p{
  color: rgb(126, 34, 206);
  opacity: 100% !important;
}

.hoverSide:hover svg{
  color: rgb(126, 34, 206);
  opacity: 100% !important;
}
 */

.shadowProfile{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.sidebarSticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}